
body {
  font-family: sans-serif;
  background: rgb(242,208,223);
 background: radial-gradient(circle, rgba(242,208,223,1) 0%, rgba(200,218,238,1) 100%);
}

/* TITOLS */
h1 {
  background-color: aqua;
  opacity: 0.8;
  text-shadow: 0 0 3px #FF0000;
}

h2 {
text-transform: uppercase;
}

/* MENU DESPLEGABLE */

.dropDown > nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 15vw;
  min-width: 320px;
  height: 200px;
}

.dropDown > nav h2 {
  border-radius: 2px;
  position: relative;
  background: tomato;
  height: 40px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

.logo {
max-width: 10%;
position: absolute;
left: 10px;
}

.dropDown >nav > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

 #toggle:checked ~ul {
  height: 0%;
}

.dropDown > nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
}
.dropDown > nav ul li > a:hover{
  background-color: rgb(223, 78, 53);
}

.dropDown > nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: tomato;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

.dropDown > nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}

/* PERSONATGES */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > a > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
}

/* MEDIA */

  .media {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
  }
  .media img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
  }

  /* TAULA */

  .taula{
    display: flex;
    flex-direction: column;
    background-color: rgb(183, 219, 230);
    border-radius: 3px;
    padding: 1em;

  }
  
  /* FORMULARI */

  .formulari{
    display: flex;
    flex-direction: column;
    background-color: rgb(183, 219, 230);
    border-radius: 3px;
    padding: 1em;

  }